@media screen and (max-width: 1280px){
    .header__logo {
        margin-bottom: 220px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
    .story__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .text-p__story {
        margin-bottom: 10px;
    }
    .services__item {
        width: 240px;
        padding: 23px 10px 39px 23px;
    }
}
@media screen and (max-width: 480px){
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar__menu {
        padding-top: 10px;
    }
    .menu__flex {
        flex-direction: column;
        align-items: center;
    }
    .story__right {
        flex-direction: column;
        align-items: center;
    }
    .story__item {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .services {
        margin-bottom: 10px;
    }
    .services__inner {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .services__flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .services__item {
        margin-bottom: 10px;
    }
    .new-sletter__inner {
        flex-wrap: wrap;
        align-items: center;
    }
    .form__input {
        height: 30px;
    }
    .btn {
        width: 100px;
        height: 30px;
    }
    .footer__flex {
        flex-direction: column;
        align-items: center;
    }
    .footer__title {
        text-align: center;
    }
    .footer__company {
        margin-bottom: 20px;
    }
    .footer__menu {
        margin-bottom: 20px;
    }
}
