html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
body {
    max-width: 1440px;
    margin: 0;
    font-family: "Open Sans";
}
ul, ol {
    padding-left: 0;
    margin: 0;
}
.container {
    max-width: 940px;
    margin: 0 auto;
}
:root {
    --white-color: rgba(255, 255, 255, 1);
    --grey-color: rgba(72, 85, 91, 1);
    --accent-color: rgba(0, 164, 229, 1);
}
.text__h1 {
    font-family: "Bebas Neue";
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5.7px;
}
.text__p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400; 
}
/* header */
.header {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    min-height: 769px;
}
.header__logo {
    padding-top: 40px;
    margin-bottom: 305px;
}
.img__header-logo {
    max-width: 102px;
    margin: 0 auto;
}
.header__content {
    text-align: center;
}
.text__h1_title {
    color: var(--white-color);
    padding-left: 12px;
    margin-bottom: -7px;
}
.text__p_header-one {
    color: var(--white-color);
    letter-spacing: 0.3px;
    margin-bottom: 220px;
}
.text__p_header-two {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.6px;
}
/* navigation */
.navigation {
    padding-top: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar__logo {
    padding-top: 3px;
}
.img__navbar-logo {
    max-width: 80px;
    width: 100%;
}
.navbar__menu {
}
.menu__flex {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: var(--grey-color);
}
.menu__link:hover {
    cursor: pointer;
    color: var(--accent-color);
}