html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
body {
    max-width: 1440px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
ul, ol {
    padding-left: 0;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
:root {
    --white-color: rgba(255, 255, 255, 1);
    --grey-color: rgba(72, 85, 91, 1);
    --accent-color: rgba(0, 164, 229, 1);
}
.text-h1 {
    font-family: "Bebas Neue";
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5.7px;
}
.text-h2 {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
}
.text-h3 {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}
.text-p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400; 
}
/* header */
.header {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    min-height: 769px;
}
.header__logo {
    padding-top: 40px;
    margin-bottom: 305px;
}
.img__header-logo {
    max-width: 102px;
    margin: 0 auto;
}
.header__content {
    text-align: center;
}
.text-h1__title {
    color: var(--white-color);
    padding-left: 12px;
    margin-bottom: -7px;
}
.text-p__header-one {
    color: var(--white-color);
    letter-spacing: 0.3px;
    margin-bottom: 220px;
}
.text-p__header-two {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.6px;
}
/* navigation */
.navigation {
    padding: 20px;
    border-bottom: 2px solid #E6E6E6;
    margin-bottom: 57px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar__logo {
    padding-top: 3px;
}
.img__navbar-logo {
    max-width: 80px;
    width: 100%;
}
.navbar__menu {
}
.menu__flex {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: var(--grey-color);
}
.menu__link:hover {
    cursor: pointer;
    color: var(--accent-color);
}
/* story */
.story {
}
.text-h2__story {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.31px;
    margin-bottom: 55px;
}
.text-h2__story::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--accent-color);
    display: block;
    margin: 10px auto 0;
}
.story__inner {
    display: flex;
}
.story__left {
    max-width: 405px;
    margin-right: 75px;
}
.text-h3__story {
    letter-spacing: 0.19px;
    margin-bottom: 30px;
}
.accent-color {
    color: var(--accent-color);
}
.text-p__story {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    color: var(--grey-color);
}
.story__right {
    display: flex;
    align-items: flex-end;
}
.story__item {
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    padding: 15px;
    color: var(--white-color);
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    margin-right: 20px;
}
.story__item:nth-child(1) {
    background-image: url(../img/weplan.png);
}
.story__item:nth-child(2) {
    background-image: url(../img/wemanage.png);
}
.story__item:nth-child(3) {
    background-image: url(../img/webuild.png);
    margin-right: 0;
}