html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, button, input {
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}
button {
    border: none;
}
input, button {
    font-family: inherit;
}
.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
:root {
    --white-color: rgba(255, 255, 255, 1);
    --grey-color: rgba(72, 85, 91, 1);
    --accent-color: rgba(0, 164, 229, 1);
    --link-color: rgba(0, 164, 229, 1);
    --black-color: rgba(23, 24, 25, 1);

    --font-family-bebas: "Bebas Neue", sans-serif;
    --font-family-open-sans: "Open Sans", sans-serif;

    --text-h1: 60px;
    --text-h2: 20px;
    --text-h3: 18px;
    --text-h4: 11px;
    --text-p: 16px;
}
.text-h1 {
    font-family: var(--font-family-bebas);
    font-size: var(--text-h1);
    font-weight: 400;
    letter-spacing: 5.7px;
}
.text-h2 {
    font-family: var(--font-family-open-sans);
    font-size: var(--text-h2);
    font-weight: 700;
}
.text-h3 {
    font-family: var(--font-family-open-sans);
    font-size: var(--text-h3);
    font-weight: 700;
}
.text-h4 {
    font-family: var(--font-family-open-sans);
    font-size: var(--text-h4);
    font-weight: 400;
}
.text-p {
    font-family: var(--font-family-open-sans);
    font-size: var(--text-p);
    font-weight: 400; 
}
/* header */
.header {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 769px;
    text-align: center;
}
.header__logo {
    padding-top: 40px;
    margin-bottom: 305px;
}
.img__header-logo {
    max-width: 102px;
    margin: 0 auto;
}
.header__content {
    text-align: center;
}
.text-h1__title {
    color: var(--white-color);
    padding-left: 12px;
    margin-bottom: -7px;
}
.text-p__header-one {
    color: var(--white-color);
    letter-spacing: 0.3px;
    margin-bottom: 220px;
}
.text-p__header-two {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: var(--text-h4);
    letter-spacing: 3.6px;
}
@media screen and (max-width: 1280px){
    .header__logo {
        margin-bottom: 220px;
    }
}
/* navigation */
.navigation {
    padding: 20px;
    border-bottom: 2px solid #E6E6E6;
    margin-bottom: 57px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar__logo {
    padding-top: 3px;
}
.img__navbar-logo {
    max-width: 80px;
    width: 100%;
}
.navbar__menu {
}
.menu__flex {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: var(--grey-color);
}
.menu__link:hover {
    cursor: pointer;
    color: var(--link-color);
}
@media screen and (max-width: 480px){
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .navbar__menu {
        padding-top: 10px;
    }
}
/* story */
.story {
    margin-bottom: 120px;
}
.text-h3__story {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.31px;
    margin-bottom: 55px;
    color: var(--grey-color);
}
.text-h3__story::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--accent-color);
    display: block;
    margin: 10px auto 0;
}
.story__inner {
    display: flex;
}
.story__left {
    max-width: 405px;
    margin-right: 75px;
}
.text-h2__story {
    letter-spacing: 0.19px;
    margin-bottom: 30px;
    color: var(--grey-color);
}
.accent-color {
    color: var(--accent-color);
}
.text-p__story {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    color: var(--grey-color);
}
.story__right {
    display: flex;
    align-items: flex-end;
}
.story__item {
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    padding: 15px;
    color: var(--white-color);
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    margin-right: 20px;
}
.story__item:nth-child(1) {
    background-image: url(../img/weplan.png);
}
.story__item:nth-child(2) {
    background-image: url(../img/wemanage.png);
}
.story__item:nth-child(3) {
    background-image: url(../img/webuild.png);
    margin-right: 0;
}
@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
    .story__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .text-p__story {
        margin-bottom: 10px;
    }
}
/* services */
.services {
    margin-bottom: 115px;
}
.services__inner {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 75px;
}
.services__title {
    width: 200px;
    margin-right: 153px;
}
.services__text {
    width: 405px;
    margin-right: 32px;
}
.services__button {
    width: 150px;
}
.text-h3__services {
    text-transform: uppercase;
    letter-spacing: 2.31px;
    color: var(--grey-color);
}
.text-h3__services::after {
    content: '';
    width: 51px;
    height: 2px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 10px;
}
.text-p__services-inner {
    height: 40px;
    font-size: var(--text-h4);
    letter-spacing: 0.2px;
    line-height: 19px;
    color: var(--grey-color);
}
.btn {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    background-color: var(--accent-color);
    color: var(--white-color);
    text-align: center;
}
.btn:hover {
    cursor: pointer;
}
.services__flex {
    display: flex;
    justify-content: space-between;
}
.services__item {
    width: 295px;
    height: 330px;
    padding: 38px 21px 39px 23px;
    border: 1px solid rgba(230, 230, 230, 1);
}
.services__img {
    margin-bottom: 25px;
}
.text-h2__services {
    text-transform: uppercase;
    font-size: var(--text-p);
    letter-spacing: 0.43px;
    line-height: 24px;
    margin-bottom: 12px;
    color: var(--grey-color);
}
.text-p__services-item {
    font-size: 13px;
    letter-spacing: 0.19px;
    line-height: 23px;
    color: var(--grey-color);
}
@media screen and (max-width: 768px) {
    .services__item {
        width: 240px;
        padding: 23px 10px 39px 23px;
    }
}
@media screen and (max-width: 480px) {
    .services {
        margin-bottom: 10px;
    }
    .services__inner {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .services__flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .services__item {
        margin-bottom: 10px;
    }
}
/* get-in-touch */
.get-in-touch {
    background-image: url(../img/bg_get-in-touch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 499px;
    margin-bottom: -2px;
}
.get-in-touch__inner {
    text-align: center;
}
.text-h3__get-in-touch {
    padding-top: 120px;
    width: 350px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin-bottom: 35px;
    color: var(--grey-color);
}
/* new sletter */
.new-sletter {
    background-color: var(--black-color);
    padding: 30px 0;
    margin-bottom: -2px;
}
.new-sletter__inner {
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
}
.new-sletter__title {
    color: var(--white-color);
}
.text-h3__new-sletter {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.85px;
}
.new-sletter__form {
}
.form__input {
    width: 250px;
    height: 40px;
    border: none;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.07px;
    color: var(--grey-color);
}
.form__btn {
    padding-top: 1px;
    margin-left: -4px;
}
@media screen and (max-width: 480px) {
    .new-sletter__inner {
        flex-wrap: wrap;
    }
}
/* footer */
.footer {
    padding-top: 42px;
    background-color: rgba(20, 26, 32, 1);
}
.footer__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.footer__company {
    max-width: 250px;
}
.footer__title {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.85px;
    color: var(--white-color);
}
.title__company {
    margin-bottom: 19px;
}
.footer__logo {
    height: 23px;
    margin-bottom: 15px;
}
.text-p__footer {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    color: var(--white-color);
}
.footer__menu {
    width: 262px;
}
.title__menu {
    margin-bottom: 10px;
}
.menu__inner {
    display: flex;
    justify-content: space-between;
}
.item1 {
    width: 83px;
}
.item2 {
    width: 52px;
}
.item3 {
    width: 62px;
}
.menu__list {
}
.menu__footer-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.85px;
    line-height: 25px;
    color: var(--white-color);
}
.menu__footer-link:hover {
    cursor: pointer;
    color: var(--link-color);
}
.footer__contacts {
    width: 141px;
}
.title__contacts {
    margin-bottom: 14px;
}
.contacts__list {
    list-style: none;
    margin-bottom: 6px;
}
.contacts__link {
    display: inline-block;
    line-height: 16px;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.85px;
    color: var(--white-color);
    margin-bottom: 5px;
}
.contacts__link:hover {
    cursor: pointer;
    color: var(--link-color);
}
.footer__socials {
    width: 87px;
}
.socials__flex {
    display: flex;
    justify-content: space-between;
}
.socials__item {
    padding-top: 25px;
}
.fa {
    color: var(--white-color);
}
.fa:hover {
    color: var(--accent-color);
}
.fa-facebook-square {
}
.fa-twitter {
}
.fa-google {
}
.footer__copy {
    background-color: var(--black-color);
}
.copy__info {
    text-align: center;
    padding: 23px;
    color: var(--white-color);
    letter-spacing: 0.85px;
}
@media screen and (max-width: 480px) {
    .footer__flex {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}