html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}
ul, ol {
    padding-left: 0;
    margin: 0;
}
button {
    margin: 0;
    padding: 0;
    border: none;
}
input {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
:root {
    --white-color: rgba(255, 255, 255, 1);
    --grey-color: rgba(72, 85, 91, 1);
    --accent-color: rgba(0, 164, 229, 1);
    --black-color: rgba(23, 24, 25, 1);
}
.text-h1 {
    font-family: "Bebas Neue";
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5.7px;
}
.text-h2 {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
}
.text-h3 {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}
.text-p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400; 
}
/* header */
.header {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    min-height: 769px;
}
.header__logo {
    padding-top: 40px;
    margin-bottom: 305px;
}
.img__header-logo {
    max-width: 102px;
    margin: 0 auto;
}
.header__content {
    text-align: center;
}
.text-h1__title {
    color: var(--white-color);
    padding-left: 12px;
    margin-bottom: -7px;
}
.text-p__header-one {
    color: var(--white-color);
    letter-spacing: 0.3px;
    margin-bottom: 220px;
}
.text-p__header-two {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.6px;
}
/* navigation */
.navigation {
    padding: 20px;
    border-bottom: 2px solid #E6E6E6;
    margin-bottom: 57px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar__logo {
    padding-top: 3px;
}
.img__navbar-logo {
    max-width: 80px;
    width: 100%;
}
.navbar__menu {
}
.menu__flex {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: var(--grey-color);
}
.menu__link:hover {
    cursor: pointer;
    color: var(--accent-color);
}
/* story */
.story {
    margin-bottom: 120px;
}
.text-h2__story {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.31px;
    margin-bottom: 55px;
    color: var(--grey-color);
}
.text-h2__story::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--accent-color);
    display: block;
    margin: 10px auto 0;
}
.story__inner {
    display: flex;
}
.story__left {
    max-width: 405px;
    margin-right: 75px;
}
.text-h3__story {
    letter-spacing: 0.19px;
    margin-bottom: 30px;
    color: var(--grey-color);
}
.accent-color {
    color: var(--accent-color);
}
.text-p__story {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    color: var(--grey-color);
}
.story__right {
    display: flex;
    align-items: flex-end;
}
.story__item {
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    padding: 15px;
    color: var(--white-color);
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    margin-right: 20px;
}
.story__item:nth-child(1) {
    background-image: url(../img/weplan.png);
}
.story__item:nth-child(2) {
    background-image: url(../img/wemanage.png);
}
.story__item:nth-child(3) {
    background-image: url(../img/webuild.png);
    margin-right: 0;
}
/* services */
.services {
    margin-bottom: 115px;
}
.services__inner {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 75px;
}
.services__title {
    width: 200px;
    margin-right: 153px;
}
.services__text {
    width: 405px;
    margin-right: 32px;
}
.services__button {
    width: 150px;
}
.text-h2__services {
    text-transform: uppercase;
    letter-spacing: 2.31px;
    color: var(--grey-color);
}
.text-h2__services::after {
    content: '';
    width: 51px;
    height: 2px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 10px;
}
.text-p__services-inner {
    height: 40px;
    font-size: 11px;
    letter-spacing: 0.2px;
    line-height: 19px;
    color: var(--grey-color);
}
.btn {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    background-color: var(--accent-color);
    color: var(--white-color);
    text-align: center;
}
.btn:hover {
    cursor: pointer;
}
.services__flex {
    display: flex;
    justify-content: space-between;
}
.services__item {
    width: 295px;
    height: 330px;
    padding: 38px 21px 39px 23px;
    border: 1px solid rgba(230, 230, 230, 1);
}
.services__img {
    margin-bottom: 25px;
}
.text-h3__services {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.43px;
    line-height: 24px;
    margin-bottom: 12px;
    color: var(--grey-color);
}
.text-p__services-item {
    font-size: 13px;
    letter-spacing: 0.19px;
    line-height: 23px;
    color: var(--grey-color);
}
/* get-in-touch */
.get-in-touch {
    background-image: url(../img/bg_get-in-touch.png);
    background-repeat: no-repeat;
    min-height: 499px;
    margin-bottom: -2px;
}
.get-in-touch__inner {
    text-align: center;
}
.text-h2__get-in-touch {
    padding-top: 120px;
    width: 350px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin-bottom: 35px;
    color: var(--grey-color);
}
/* new sletter */
.new-sletter {
    background-color: var(--black-color);
    padding: 30px 0;
}
.new-sletter__inner {
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
}
.new-sletter__title {
    color: var(--white-color);
}
.text-h2__new-sletter {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.85px;
}
.new-sletter__form {
}
.form-input {
    width: 250px;
    height: 40px;
    border: none;
    padding-left: 16px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.07px;
    color: var(--grey-color);
}

